/*
    ==============
    Aside Section
    ==============
*/

.site-aside {
    padding: 1rem;
    background-color: var(--bg-800);
    flex-direction: column;
    color: var(--clr-white);
    flex: 1;
}

/*
    ==============
    Header Section
    ==============
*/

.site-aside .user-info{
    flex-direction: column;
    row-gap: 0.25em;
}

.site-aside .header-title{
    font-size: 1.5rem;
}

.site-aside .header-location{
    cursor: crosshair;
    transition: color 250ms ease-out;
}

.site-aside .header-location:hover{
    color: var(--clr-gold);
}

.site-aside .header-img {
    width: 175px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--clr-gold);
    object-position: top;
}

/*
    ==============
    Navbar Section
    ==============
*/

.navbar{
    flex-direction: column;
    padding-block: 0.5em;
    width: max(70%, 200px);
}